*, body{
    font-family: 'Roboto', sans-serif;    
    box-sizing: border-box;
    background: #f5f5f5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sue Ellen Francisco', cursive;
    color: #087E8B;
}

a{
    text-decoration: none;
    color: #242424;
}

h2 > a{
    font-family: 'Roboto', sans-serif; 
    color: #087E8B;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "aside-menu text-area text-area text-area" 
                        "aside-menu content content content" 
                        "aside-menu content content content";
}

.aside-menu { grid-area: aside-menu; }

.content { grid-area: content; }

.text-area { grid-area: text-area; }

.header{
    display: flex;
    width: 360px;
    padding: 20px;
    align-self: center;
    flex-direction: column-reverse;
}

.img{
    /* max-width:80px;
    max-height:30px; */
    float: right;
    align-self: flex-end;
}

.aside-header > h1{
    font-size: 2em;
    padding: 4vh;
}